<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Chattastic</title>
</head>
<body>
    <h1 class="logo">Admin Page</h1>
    <a href="/chat">Chat</a>
    <div class="admin-containers">
        <div class="rooms" id="admin-rooms">
            <h2>Rooms</h2>
            <!-- Rooms go here -->
        </div>
        <div class="censured-words" id="admin-censured">
            <h2>Censured Words</h2>
            <!-- Words go here -->
        </div>
    </div>
    <script src="script.js"></script>
    <script src="admin.js"></script>
</body>
</html>