<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Chattastic</title>
</head>
<body>
    <h1 class="logo">CHATTASTIC</h1>
    <% if (is_admin) { %>
        <a href="/admin">Admin Page</a>
    <% } %>
    <main>
        <div class="chatroom-select">
            <label for="room-select">Choose a room:</label>
            <select id="room-select" name="room-select">
                <!-- Rooms filled in here-->
            </select>
            <input id="new-room-input" name="new-room-input" />
            <button id="new-room-button">Add room</button>
            <input id="censured-word-input" name="censured-word-input" />
            <button id="censured-word-button">Add censured word</button>
            
        </div>
        <div id="chat-container" class="chat-container">
            <!-- messages filled in here-->
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Type your message" />
            <button id="send-message">Send</button>
            <button id="logout-button" class="logout-button">Logout</button>
        </div>
    </main>
    <script src="script.js"></script>
    <script src="ws.js"></script>
</body>
</html>